* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

html,
body {
    font-size: 16px;
    background: #EED263;
}

a {
    text-decoration: none;
    color: #000000;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

/* navbar part */
.navbar-brand {
    color: #3B2D64;
    font-weight: bold;
    font-size: 22px;
}

.nav-link {
    font-weight: bold;
}

/* search box */
.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
    color: #A4A4A3;
    font-size: 20px;
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: #3B2D64;
}